.InfoTable {
	display: grid;
	grid-template-columns: 32px 32px 1fr 1.5fr;

	gap: 10px;

	& > * {
		padding: 0;
		margin: 0;
	}
}

.InfoTitle {
}

.InfoControl {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
}
